@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: bolder;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'GmarketSansMedium', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GmarketSansMedium', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.6;
  font-family: 'SpoqaHanSansNeo', sans-serif;
  margin: 0.25rem 0;
}

textarea {
  font-family: 'SpoqaHanSansNeo', sans-serif;
}

main {
  padding-top: 80px !important;
}
